/* sprites */
ins,
.decor ins { background: url(../img/icon-types.png) no-repeat top left;display:inline-block; }
.jstree ins { background: none; } /* jstree uses its own styles dor ins */
.decor td ins { cursor:pointer;}
ul.decor li a,
a.decor {text-decoration:none; }
.decor ins.type-about_bw{ background-position: 0 -19px; width: 18px; height: 18px; } 
.decor ins.type-about{ background-position: 0 0; width: 18px; height: 18px; } 
.decor ins.type-add{ background-position: 0 -38px; width: 16px; height: 16px; } 
.decor ins.type-add_doc{ background-position: 0 -57px; width: 16px; height: 16px; } 
.decor ins.type-add_docs{ background-position: 0 -76px; width: 16px; height: 16px; } 
.decor ins.type-add_user{ background-position: 0 -95px; width: 16px; height: 16px; } 
.decor ins.type-alert{ background-position: 0 -114px; width: 16px; height: 16px; } 
.decor ins.type-approve{ background-position: 0 -133px; width: 16px; height: 16px; } 
.decor ins.type-bank{ background-position: 0 -152px; width: 16px; height: 16px; } 
.decor ins.type-bg_td_good{ background-position: 0 -171px; width: 15px; height: 16px; } 
.decor ins.type-bg_td_mid{ background-position: 0 -190px; width: 16px; height: 16px; } 
.decor ins.type-blank{ background-position: 0 -209px; width: 16px; height: 16px; } 
.decor ins.type-blue_doc{ background-position: 0 -228px; width: 16px; height: 16px; } 
.decor ins.type-build{ background-position: 0 -247px; width: 16px; height: 16px; } 
.decor ins.type-change{ background-position: 0 -266px; width: 16px; height: 16px; } 
.decor ins.type-chart_bar{ background-position: 0 -285px; width: 16px; height: 16px; } 
.decor ins.type-chart_pie{ background-position: 0 -304px; width: 16px; height: 16px; } 
.decor ins.type-check{ background-position: 0 -323px; width: 16px; height: 16px; } 
.decor ins.type-check_approve{ background-position: 0 -342px; width: 16px; height: 16px; } 
.decor ins.type-clock{ background-position: 0 -361px; width: 16px; height: 16px; } 
.decor ins.type-close{ background-position: 0 -380px; width: 16px; height: 16px; } 
.decor ins.type-collect_request{ background-position: 0 -399px; width: 16px; height: 16px; } 
.decor ins.type-comments{ background-position: 0 -418px; width: 16px; height: 16px; } 
.decor ins.type-compass{ background-position: 0 -437px; width: 16px; height: 16px; } 
.decor ins.type-contact{ background-position: 0 -456px; width: 16px; height: 16px; } 
.decor ins.type-control{ background-position: 0 -475px; width: 16px; height: 16px; } 
.decor ins.type-darr{ background-position: 0 -511px; width: 13px; height: 14px; } 
.dropdown .active .decor ins.type-darr,
.dropdown .hover .decor ins.type-darr,
.decor ins.type-darr-red{ background-position: 0 -494px; width: 13px; height: 14px; } 
/* not for IE */
.dropdown :hover .decor ins.type-darr{ background-position: 0 -494px; width: 13px; height: 14px; } 
.decor ins.type-delete{ background-position: 0 -529px; width: 16px; height: 16px; } 
.decor ins.type-dialog{ background-position: 0 -548px; width: 16px; height: 16px; } 
.decor ins.type-doc{ background-position: 0 -567px; width: 16px; height: 16px; } 
.decor ins.type-doc_ok{ background-position: 0 -586px; width: 16px; height: 16px; } 
.decor ins.type-doc_plus{ background-position: 0 -605px; width: 16px; height: 16px; } 
.decor ins.type-doc_set{ background-position: 0 -624px; width: 16px; height: 16px; } 
.decor ins.type-docs{ background-position: 0 -643px; width: 16px; height: 16px; } 
.decor ins.type-down{ background-position: 0 -662px; width: 15px; height: 8px; } 
.decor ins.type-down_right{ background-position: 0 -673px; width: 15px; height: 15px; } 
.decor ins.type-download{ background-position: 0 -691px; width: 16px; height: 16px; } 
.decor ins.type-earth{ background-position: 0 -710px; width: 16px; height: 16px; } 
.decor ins.type-edit{ background-position: 0 -729px; width: 16px; height: 16px; } 
.decor ins.type-edit_bw{ background-position: 0 -748px; width: 16px; height: 16px; } 
.decor ins.type-edit_clc{ background-position: 0 -767px; width: 16px; height: 16px; } 
.decor ins.type-edit_cll{ background-position: 0 -786px; width: 16px; height: 16px; } 
.decor ins.type-edit_grp{ background-position: 0 -805px; width: 16px; height: 16px; } 
.decor ins.type-edit_reg{ background-position: 0 -824px; width: 16px; height: 16px; } 
.decor ins.type-edit_sys{ background-position: 0 -843px; width: 16px; height: 16px; } 
.decor ins.type-example{ background-position: 0 -862px; width: 16px; height: 16px; } 
.decor ins.type-eye{ background-position: 0 -881px; width: 16px; height: 16px; } 
.decor ins.type-favorite-star-empty{ background-position: 0 -900px; width: 14px; height: 14px; } 
.decor ins.type-favorite-star-full{ background-position: 0 -917px; width: 14px; height: 14px; } 
.decor ins.type-files{ background-position: 0 -934px; width: 16px; height: 16px; } 
.decor ins.type-fill_values{ background-position: 0 -953px; width: 16px; height: 16px; } 
.decor ins.type-finish{ background-position: 0 -972px; width: 16px; height: 16px; } 
.decor ins.type-flag{ background-position: 0 -991px; width: 16px; height: 16px; } 
.decor ins.type-folder{ background-position: 0 -1010px; width: 16px; height: 16px; } 
.decor ins.type-formula{ background-position: 0 -1029px; width: 24px; height: 24px; } 
.decor ins.type-forum{ background-position: 0 -1056px; width: 16px; height: 16px; } 
.decor ins.type-graph{ background-position: 0 -1075px; width: 16px; height: 16px; } 
.decor ins.type-help{ background-position: 0 -1094px; width: 16px; height: 16px; } 
.decor ins.type-history{ background-position: 0 -1113px; width: 16px; height: 16px; } 
.decor ins.type-history2{ background-position: 0 -1132px; width: 7px; height: 16px; } 
.decor ins.type-home{ background-position: 0 -1151px; width: 16px; height: 16px; } 
.decor ins.type-indicators{ background-position: 0 -1170px; width: 16px; height: 16px; } 
.decor ins.type-info{ background-position: 0 -1189px; width: 16px; height: 16px; } 
.decor ins.type-instruction{ background-position: 0 -1208px; width: 16px; height: 16px; } 
.decor ins.type-key{ background-position: 0 -1227px; width: 16px; height: 16px; } 
.decor ins.type-left{ background-position: 0 -1246px; width: 9px; height: 13px; } 
.decor ins.type-lin_cat{ background-position: 0 -1262px; width: 16px; height: 16px; } 
.decor ins.type-loading{ background-position: 0 -1281px; width: 16px; height: 16px; } 
.decor ins.type-lock_locked{ background-position: 0 -1300px; width: 16px; height: 16px; } 
.decor ins.type-lock_progress{ background-position: 0 -1319px; width: 16px; height: 16px; } 
.decor ins.type-lock_unlocked{ background-position: 0 -1338px; width: 16px; height: 16px; } 
.decor ins.type-many_docs{ background-position: 0 -1357px; width: 16px; height: 16px; } 
.decor ins.type-men{ background-position: 0 -1376px; width: 16px; height: 16px; } 
.decor ins.type-method{ background-position: 0 -1395px; width: 16px; height: 16px; } 
.decor ins.type-minus{ background-position: 0 -1414px; width: 16px; height: 16px; } 
.decor ins.type-minus_gray{ background-position: 0 -1433px; width: 16px; height: 16px; } 
.decor ins.type-new{ background-position: 0 -1452px; width: 16px; height: 16px; } 
.decor ins.type-new_doc{ background-position: 0 -1471px; width: 16px; height: 16px; } 
.decor ins.type-ok{ background-position: 0 -1490px; width: 15px; height: 16px; } 
.decor ins.type-organisation{ background-position: 0 -1509px; width: 16px; height: 16px; } 
.decor ins.type-params-edit{ background-position: 0 -1528px; width: 16px; height: 14px; } 
.decor ins.type-pdf{ background-position: 0 -1545px; width: 16px; height: 16px; } 
.decor ins.type-period_cat{ background-position: 0 -1564px; width: 16px; height: 16px; } 
.decor ins.type-print{ background-position: 0 -1583px; width: 16px; height: 15px; } 
.decor ins.type-rarr-hover{ background-position: 0 -1601px; width: 16px; height: 15px; } 
.decor ins.type-rarr{ background-position: 0 -1619px; width: 16px; height: 15px; } 
.decor ins.type-report{ background-position: 0 -1637px; width: 16px; height: 16px; } 
.decor ins.type-right{ background-position: 0 -1656px; width: 9px; height: 13px; } 
.decor ins.type-rtf{ background-position: 0 -1672px; width: 16px; height: 16px; } 
.decor ins.type-rules{ background-position: 0 -1691px; width: 16px; height: 16px; } 
.decor ins.type-shield{ background-position: 0 -1710px; width: 16px; height: 16px; } 
.decor ins.type-star{ background-position: 0 -1729px; width: 16px; height: 16px; } 
.decor ins.type-star_empty{ background-position: 0 -1748px; width: 16px; height: 16px; } 
.decor ins.type-sum_graph{ background-position: 0 -1767px; width: 16px; height: 16px; } 
.decor ins.type-sum_hist{ background-position: 0 -1786px; width: 16px; height: 16px; } 
.decor ins.type-support{ background-position: 0 -1805px; width: 16px; height: 16px; } 
.decor ins.type-tablesorter-asc{ background-position: 0 -1824px; width: 21px; height: 4px; } 
.decor ins.type-tablesorter-bg{ background-position: 0 -1831px; width: 21px; height: 9px; } 
.decor ins.type-tablesorter-desc{ background-position: 0 -1843px; width: 21px; height: 4px; } 
.decor ins.type-task{ background-position: 0 -1850px; width: 16px; height: 16px; } 
.decor ins.type-tree_cat{ background-position: 0 -1869px; width: 16px; height: 16px; } 
.decor ins.type-upload-minus{ background-position: 0 -1888px; width: 11px; height: 11px; } 
.decor ins.type-user_info{ background-position: 0 -1902px; width: 16px; height: 16px; } 
.decor ins.type-users{ background-position: 0 -1921px; width: 16px; height: 16px; } 
.decor ins.type-video{ background-position: 0 -1940px; width: 16px; height: 16px; } 
.decor ins.type-word{ background-position: 0 -1959px; width: 16px; height: 16px; } 
.decor ins.type-x{ background-position: 0 -1978px; width: 16px; height: 19px; } 

