html,body{margin:0;padding:0;height:100%;}
body{font: 76% arial,sans-serif;}
p{margin:0 10px 10px}
.logo a{display:block;color: #981793;padding:5px}
div#header {margin-bottom:10px;}
div#header h1{margin:0;}
div#container{position:relative;height:100%;}
div#page {padding:0 0 60px 0;}
div#content p{line-height:1.4}
div#navigation{}
div#extra{background:#FF8539;color:#fff;font-weight:bold}
div#extra p {margin:5px; text-align:center;}
div#footer{background: #666;color: #FFF;position:absolute;bottom:0;width:100%;height:60px;}
div#footer p{margin:0;padding:5px 10px}

div#container{width:760px;margin:0 auto}
div#content{float:left;width:440px}
div#navigation{float:right;width:320px}
div#extra{clear:both;width:100%;padding:1px 0;}

div#header ul {margin-top:0}
div#navigation p{margin:10px}
