html,body {
    margin:0;
    padding:0;
}
img {
    border:none;
}
fieldset {
    margin:0;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}


