.login th {
    background:none;
}
.login th,
.login td {
    border:0;
}
/* compact tables for big forms */

table.compact td,
table.compact th,
table.compact input,
table.compact select {
    font-size:11px;
}
table.compact tr th,
table.compact tr td {
    padding:2px 4px;
}
table.compact tr td input {
    border:1px solid #ccc;
    margin:0;
    padding:1px;
    background:#FFFFe8;
}

/* colored lines for big tables. 
 * JS should add classes to rows */
table.zebra thead tr th{
    background:none;
    border:none;
}
table.zebra tbody tr th{
    background:none;
}
table.zebra thead tr {
    background: url(../img/gradientlinebg.gif); 
}
table.zebra,
table.zebra td,
table.zebra th{
    border:1px solid #ccc;
}
table.zebra tbody tr th,
table.zebra tr td {
    border-left:0;
    border-right:0;
}
table.zebra tr.odd { 
    background-color:#f0f0f0;
}
table.zebra tr.even {
    background-color:#f5f5f5;
}

table.zebra tr.highlight_on_focus,
table.zebra tr.highlight_on_focus th,
table.zebra tr.highlight,
table.zebra tr.highlight th {
    background-color:#FFFFA2;
}
table.zebra tr th.force_th_bg,
table.zebra tr.even th.force_th_bg,
table.zebra tr.odd th.force_th_bg,
table.zebra tr.highlight th.force_th_bg {
    border-right:1px solid #ccc;
    background-color:#f0f0f0;
}

/* rainbow */
tr.postsuic,
tr.aids {background:#ff7b7b} 

tr.vegan {background:#ffa94f}
tr.expat {background:#ffa94f}

tr.postcancer,
tr.treger {background:#e125df}

tr.monstr,
tr.strip {background:#eae830}

tr.teacher {background:#7071e2}

tr.narko {background:#3db83e}

tr.alter,
tr.zakl {background:#ff4f4f}

tr.detdom {background:#e1257f}

tr.invalid {background:#aeea30}

tr.semin,
tr.composer {background:#0fd4c7}

tr.blind {background:#2ec86d}

tr.jude {background:#ff7bb6}

tr.afro {background:#ff724f}

tr.lesbi {background:#1ea8c1}


tr.multi,
tr.adopt {background:#5ff56e}

tr.muslim {background:#1ec1b7}

tr.composer {background:#37c11e}

tr.gypsy {background:#c15d1e}

tr.sci {background:#cde125}

tr.arch,
tr.arh {background:#e15c25}

tr.aids,
tr.buddist {background:#25e1db}

tr.social {background:#6a25e1}


tr.trans {background:#e6db0e}

tr.afgan,
tr.stop {background:#1ec147}

tr.gay {background:#c11e8b}

