/* lists without bullets and margins */
table.simple_lists ul,
ul.nobullets,
ul.simple {list-style:none;margin:5px 0 0 0;padding:0;}
table.simple_lists ul li,
ul.simple li {margin:0;padding:0 0 5px 0;}
ul.nobullets li {margin:0;padding:0 0 3px 20px;}
ul.light {margin:4px 0 7px 35px;padding:0; list-style:circle;}
ul.light li {margin:0;padding:0 0 3px 0;}
ul.tab {list-style:none;margin:4px 0 7px 25px;padding:0;}
ul.tab li {margin:0;padding:0 0 3px 0;}

/* direct text alignment */
p.right, td.right, th.right {text-align:right;}
td.left, th.left {text-align:left;}
p.center, td.center, th.center {text-align:center;}
.small {font-size:85%;margin:2px;}

/* add margins */
.bottom_space {margin-bottom:5px;}
.top_space {margin-top:5px;}
.left_space {margin-left:5px;}
.right_space {margin-right:5px;}
.sub_block, ul.sub_block {margin:5px 0 0 10px;}

/* deny borders */
.noborder, .noborder td, .noborder th, .noborder tr {border:none;}
.noborder thead tr {height:0;}
.noborder thead tr th {font-size:0;padding:0;}
.nowrap {white-space:nowrap;}

/* highlight errors */
.errorlist { color: #a00; }
.error, .errors {
    border:1px solid #a00;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color:#a00;padding:4px 25px;
    background:#fee;margin-bottom:10px;
}
.error li, .errors li, .errorlist li { color:#a00;}
.noerror, .noerrors {
    border:1px solid #0a0;color:#0a0;padding:4px 25px;background:#efffef;
}
ul.errorlist {
    padding:0 0 0 0.3em;
    margin:0.2em 0;
    list-style-position:inside;
}
ul.errorlist li {
    text-align:left;
    padding:0;
    margin:0.1em 0;
}

span.error {
    padding:3px;
    margin:0;
    font-size:90%;
}
/* info messages */
.info {
    border:1px solid green;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color:green;padding:2px;
    background:#efffef;
    margin-bottom:10px;
    font-size:90%;
}

.toggle {cursor:pointer;}

/* */
p.btn_container {padding:0;margin:5px 0;}
.allow-add-more {cursor:pointer;}

/* */
.highlight {background:yellow;}
.highlight_light {background:#fefecc !important;}
.participants .special {background:NavajoWhite; cursor:help; padding-left:2px;}
.participants .changes {cursor:help;}
tr.odd  {background:#FBF5F2;}
tr.even {background:#F7FFE7;}
.secondary,
.secondary li,
.secondary li a,
.secondary li a:visited,
.secondary li a:active
{color:#999}
.secondary li a:hover
{color:#514DAC}

.help_info {width:75%}
.help_info p { padding:0;}

/* left-right */
.lr-wrapper{width:700px;margin:0}
.main-task-content {float:left;width:500px}
.right-task-content {float:right;width:200px}

.signature {margin-top:40px;margin-bottom:30px;}
.liquid-lr-wrapper{float:left;width:100%;}
.liquid-main-content {margin-right:51%}
.liquid-right-content {float:left;width:49%;margin-left:-50%;}

.main-content{margin-left:85px}
.left-content{float:left;width:85px;}

/* Bad men */
.bad_men {color:red;}

ul.simple li img,
ul.light li img,
span img,
.icon {vertical-align:text-bottom;}

select.fixed_width {width:300px;}

table tr .indent0 { font-weight:bold;}
table tr .indent1 { padding-left: 2em;}
table tr .indent2 { padding-left: 4em;}
table tr .indent3 { padding-left: 6em;}
table tr .indent4 { padding-left: 8em;}

ul.simple li.indent,
li.indent { padding-left: 14px;}

.clear {clear:both;}

form label,
.like_label,
.details .label {
    color:#999;
}
.details_with_labels {
    max-width:1000px;
}
ul.details_with_labels li {
    padding:0 0 7px 20px;
}
.details_with_labels label {
    color:#666;
    display: block;
    margin-left: -20px;
}
form th label,
.details th .label {
    color:#666;
}
table.with_checklist ul {
    padding:0;
    list-style-type:none;
}
table.with_checklist ul label {
    color: #000;
}
table.with_checklist td {
    vertical-align: top;
}
.details .value {
    margin-left:20px;
}
.fixed {
    position:fixed;
    top:140px;
}
p.plain_hint {
    margin:5px 0 3px 0;
    padding:3px;
    background:#efefef;
}
fieldset legend,
.toggle_next {
    cursor:pointer;
}
/* flot graphics */
.graph_fixed_width {
    width:700px;
}

.liquid-main-content .graph_fixed_width,
.liquid-right-content .graph_fixed_width {
    width:95%;
}
.graph_fixed_height {
    height:300px;
}
.hoveredlabel {
    background-color:bisque;
    font-weight:bold;
    z-index:10;
}

form .checklist ul {
    list-style-type:none;
    padding:0;
    margin:5px 0;
}
form .checklist ul label {
    color:#000;
}
/* form labels with fixed width */
.aligned label {
    display: block;
    padding: 3px 0 0 0;
    float: left;
    width: 18em;
    color: #333;
}
div.form-row {
    padding: 5px 12px;
}
div.data-row {
    padding: 5px 12px;
}
/* show long tree elements */
.scroll_content,
.scroll_tree div {
    overflow:auto;
}
.scroll_tree .jstree ul,
.scroll_tree .jstree li {
    overflow:visible;
}
.compact_list p {
    margin:0;
}

/* simple scroll [lists] */
.scrollme {
    height:300px;
    overflow-y:scroll;
}

input[type=text],
input[type=password] {
    border:2px solid #c3c7c8;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

input[type=button],
input[type=submit] {
    border:2px solid #c3c7c8;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: url(../img/gradientlinebg.gif); 
    color:#666;
}

/* liveq */
span.reader {
    margin-right:5px;
    padding: 0 0 0 2px;
}
span.reader input {
    padding:0 2px;
    color:#000;
}
.request_progress {
    display:inline-block;
    margin-left:20px;
    font-size:90%;
}
.livequeue .errors,
.livequeue .info {
    cursor:pointer;
}
.request_progress {
    display: block;
    border:1px #F3F2F1 solid;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #fafafa;
    color:#009;
    position: fixed;
    z-index:5;
    top:25px;
    left:200px;
    padding:5px 15px;
}
#new_session .errors,
#new_session .info,
.request_progress .errors,
.request_progress .info {
    padding:2px 5px;
    margin:0;
    font-size:90%;
}
.request_progress input {
    background:transparent;
    border:0;
}
.success {
    background:#efffef;
}
.failed {
    background:#a00;
}
td.center input {
    text-align:center;
}
.go_right {
    float:right;
}
.new_reader_form {
    float:right;
    position:absolute;
    padding:5px 15px;
    top:22px;
    right:0;
    background:#fff;
    z-index:100;
    border: 2px #c3c7c8 solid;
    border-right:0;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
}
.new_reader_form p {
    margin:0;
}
.new_reader_form h3 {
    margin:0 0 5px 0;
    color: #780317;
}
/* TABLO */
.tablo {
    font-size:16px;
    width:100%;
}
.tablo td, 
.tablo th {
    padding:4px 7px;
}
.content_title .indicator {
    color:#999;
    font-size:80%;
}
.indicator img {
    vertical-align:bottom;
}
.select_time {
    margin:1px 7px;
}
