{% extends "base.html" %}
{# load common #}

{% block title %}Авторизация{% endblock %}
{% block content_title %}Авторизация{% endblock %}

{% block content %}
{% if form.errors %}
<p>Логин или пароль не подходят. Попробуйте ещё раз.</p>
{% endif %}

{% if user.is_authenticated %}
<p>Вы авторизованы как <em>{{ user|default:user.username }}</em></p>
<p> <a href="{% url logout %}">Выйти</a>?</p>
{% else %}
<form method="post" action="{% url login %}">{% csrf_token %}
<table class='login'>
    {{ form }}
    <th></th><td><input type="submit" value="Войти" /></td>
</table>
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endif %}

{% endblock %}
