body {
    font:normal 80% "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
}
input, select, textarea {
    font:normal 100% "Lucida Grande","Lucida Sans Unicode",Verdana,Arial,Helvetica,sans-serif;
}
h1, h2, h3, h4, h5 {
    font-weight:normal;
}

h1 {
    font-size: 160%;
}

h2 {
    font-size: 135%;
    margin: 12px 0 5px;
}

h3 {
    font-size: 120%;
}

h4 {
    font-size: 110%;
    margin:7px 0 5px 0;
    font-weight:bold;
}

h5 {
    font-size: 100%;
    margin: 0;
    padding: 0.2em 0.5em;
}


p {
    margin:3px 10px 10px 0;
}
a { color: #780317;}
a:visited { color: #37010A;}
a:hover { color: #C73E3D;}

h1.content_title,
form.main  {
    display: inline-block;
    margin-right:20px;
}
form.main input  {
    font-size:200%;
}
h1.content_title {
    margin:0;
    color:#780317;
}

div.graph-container {
    width: 600px;
    height: 340px;
    position: absolute;
    margin-left:-300px;
    left:50%;
    margin-top:-170px;
    background: white;
    padding: 15px;
    border: 2px solid #780317;
    z-index: 1000;
}

div.graph {
    width: 570px;
    height: 260px;
}

td.more_info {
    cursor: pointer;
}

.with_hint span,
.more_info div {
    width:300px;
    padding:10px;
    border:1px solid #666;
    z-index:160;
    position:absolute;
    background:#fff;
    cursor: auto;
    font-weight: normal;
}
.with_hint span {
    width:400px;
}

.wide_in_bounded input {
    width:80%;
}
