.info-block {
    border:0px solid #007;
    margin:0 60px 20px 0;
    padding:0;
}
.info-block p { 
    margin:10px 25px 10px 20px;
    padding:0;
}
.info-block p span { 
    margin-left:20px;
}
.info-block p big { 
    font-size:18px;
}

/* ROLL */
.roll-data-block {
    border:0px solid #007;
    border-bottom:none;
    margin:0;
    padding:0;
}
.last-block {
    border:0px solid #007;
}
.roll-data-block table {
    margin:5px;
}
.roll-data-block table.datatable {
    margin-top:0;
}
.roll-data-block h3 {
    background:#EDEDE7 url(../img/rarr.png) 0 5px no-repeat;
    background-image:;
    color:#44a;
    margin:0;
    padding:5px 0 5px 20px ;
    font-size:12px;
    cursor:pointer;
}
.roll-data-block h3.hover,
.roll-data-block h3.active {
    color:#00e;
    background:#FAFAFF url(../img/rarr-hover.png) 0 5px no-repeat;
}
.roll-data-block h3.active {
    background-image:url(../img/darr.png);
    border-bottom:1px solid #007;
}
.roll-data-block table.node_forms td {
    width:100px;
    text-align:center;
}
.last-block td {
    width:15%;
}
.roll-data-block td img {
    vertical-align:text-bottom;
}

.roll-data-block table.node_forms {border:none;}
.roll-data-block table.node_forms tr {border:none;}
.roll-data-block table.node_forms th {background:none;border:none;color:#000;}
.roll-data-block table.node_forms tbody th {text-align:left;width:100px;}

.data-block {
    border:0px solid #007;
    margin:0 0 8px 0;
    padding:0 0 5px 0;
}
.info-block h3,
.data-block h3 {
    background:#EDEDE7;
    color:#666;
    font-size: 130%;
    margin:0 0 10px 0;
    padding:5px 0 5px 5px;
    border-bottom:0px solid #007;
}
.info-block h3 img,
.data-block h3 img {
    vertical-align:baseline;
}
.data-block p { 
    margin:0 0 2px 0;
    padding:0;
}
.data-block ul.simple { 
    margin:0 15px 0 25px;
}
.data-block ul.simple li { 
    padding:0 0 8px 0;
}
.data-block ul.simple ul.simple { 
    margin:0 15px;
}
.data-block ul.simple { 
    margin:0 15px 0 25px;
}
.data-block ul.simple ul.simple li { 
    padding:0 0 5px 0;
}
.data-block ul.simple ul.simple li.last { 
    padding:0;
}
.data-block ul.simple h4 { 
    margin:0 0 3px 0;
}
.data-block h1 { 
    margin:0 10px 0 25px;
    font-weight:bold;
    font-size:110%;
}
.tree-block h4,
.data-block h2, 
.data-block h4 { 
    margin:0;
    font-weight:bold;
    font-size:100%;
}
.tree-block li b { 
    color:#780317;
}

#left .data-block h3 {padding-left:23px;}
#content .info-block ul {padding-left:25px;}
#content .info-block ul li {padding:2px 0;margin:0;list-style:url(../img/bullet-square.png) outside;}
#content .info-block ul.simple li {list-style:none;}
#content .info-block ul.simple li img {vertical-align:text-bottom;}
#content .info-block table, 
#content .info-block p {margin-left:25px;}
#content .info-block p.noindent {margin-left:0;}

/* comments on report values */
div.comment-container {
    position: absolute;
    background: #fefefe;
    border: 1px solid #999; 
    z-index: 150;
    text-align: left;
    padding: 8px 10px;
    width:300px;
}
div.comment-container ul {
    margin:6px 10px 6px 0;
    padding:0 0 0 22px;
}
div.comment-container ul li em {
    font-size:85%;
    color:#666;
}

