/* dropdown dropdownmenu*/
/* 
    LEVEL ONE
*/
ul.dropdown {
    position: relative;
    z-index:1500;
    margin: 0;
    padding: 0 0 0 2px;
    list-style: none;
    float:left;
}
ul.dropdown li {
    float: left;
    margin: 0 1px;
    padding: 0;
    background: #EDEDE7;
    background: url(../../../img/gradientlinebg.gif) left top repeat-x; 
    border:1px solid #c3c7c8;
    border-top:0;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}
ul.dropdown li.active a,
ul.dropdown li:hover a,
ul.dropdown li.hover a {
    color:#780317;
    text-decoration:none;
}
ul.dropdown a {
    display: block;
    padding: 0.2em 0.5em;
    border-bottom:0px solid #D4E3E6;
    color:#666;
    text-decoration:none;
}
ul.dropdown a.with_pic {
    padding: 2px 5px 3px;
}
ul.dropdown li.active,
ul.dropdown li.hover,
ul.dropdown li:hover {
    background: url(../../../img/gradientlinebg_revert.png) left bottom repeat-x; 
    position: relative;
    z-index:100;
}
/* 
    LEVEL TWO
*/
ul.dropdown ul {
    width: 220px;
    visibility: hidden;
    position: absolute;
    z-index:1500;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    border:1px solid #666;
    background: #EDEDE7;
}
ul.dropdown li:hover li:hover a,
ul.dropdown li.hover li.hover a {
    color:#780317;
    background:#fff;
    text-decoration:none;
    border:none;
}
ul.dropdown li:hover li a,
ul.dropdown li.hover li a {
    color:#666;
    text-decoration:none;
    border:none;
    background:none;
}
ul.dropdown li:hover li:hover,
ul.dropdown li.hover li.hover {
    background:#fff;
}
ul.dropdown ul li {
    font-weight: normal;
    margin: 0;
    border:none;
    float: none;
}
                                      
ul.dropdown li:hover > ul,
ul.dropdown li.hover > ul {
    visibility: visible;
}

/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
    border: none;
    display: inline-block;
    text-decoration:none;
} 


