body {
    /*background:#fff url('../img/bg.png') 99% 80px no-repeat;*/
}
div#container {
    min-width:600px;
    background: none;
}
/***** top-menu Layout *****/
#top-menu {
    background: #6e7172; 
    color: #fff; 
    height:1.7em; 
    font-size: 0.8em; 
    padding: 0.3em 1.3em 0 10px;
}
#top-menu ul {margin: 0;  padding: 0;}
#top-menu li {
    float:left;
    list-style-type:none;
    margin: 0;
    padding: 0;
    white-space:nowrap;
}
#top-menu a {color: #fff; margin-right: 4px; font-weight: normal;text-decoration:none;}
#top-menu a:hover {color: #fdedc6;  text-decoration:underline;}
#top-menu #loggedas { float: right; margin-right: 0.5em; color: #fff; }
#top-menu form {display: inline;}
#top-menu a {cursor:pointer;}

#account {float:right;}
div#main-menu {margin-bottom:0.5em}

div#header {
    position:relative;
    padding: 0.6em 230px 0.6em 10px;
    border:0;
    border-bottom:2px solid #c3c7c8;
    border-top:2px solid #F3F2F1;
}
div#content {
    padding:0 1.2em 1em 10px;
    margin:0;
}
div#navigation{
    padding-top:0;
}
div#extra {
}
div#footer {
    padding-bottom:1em;
}

div#wrapper{float:left;width:100%;}
div#navigation{float:left;width:400px;margin-left:-400px}
div#extra{clear:left;width:100%}
div#footer{clear:left;width:100%}

#user-tools {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.4em 1em;
    font-size: 85%;
    text-align: right;
}

div.colscontainer{width:950px;}
div.colwrapper{}
div.mapleftcol{float:left;width:620px}
div.maprightcol{float:right;width:300px}
div.mapscrollme {
    height:340px;
    overflow-y:scroll; 
    background:#fefefe;
    border:1px solid #ccc;
    padding:4px 8px;
}
