/**************************
CONTENT AND COLUMNS
**************************/
div#content {
    margin-left: 280px; /*** Same length as .outer padding-left but with negative value ***/
}
/**************************
LEFT COLUMN
**************************/
div#extra {
    float: left;
    width: 250px;
    margin-left: -100%;
    padding: 10px 15px;
    position: relative; /*** IE needs this  ***/
    z-index:2;
    clear:none;
    background:#EDEDE7;
}

