/**************************
CONTENT AND COLUMNS
**************************/
div#content {
    margin-right: 280px; /*** Same length as .outer padding-left but with negative value ***/
}
/*************************
RIGHT COLUMN
**************************/
div#navigation {
    float: left; 
    width: 250px;
    padding: 10px 15px;
    margin-left: -280px; /** This negative margin-right value is the same as the right column width (width + padding). ***/
    position: relative; /*** IE needs this  ***/
    z-index:3;
    clear:none;
    background:#EDEDE7;
}

