table.tablesorter th {
    padding-right:18px;
}
table.tablesorter thead tr .header,
table.tablesorter th.header {
	background-image: url(../img/tablesorter/bg.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
    padding-right:18px;
}
table.tablesorter tr .headerSortUp,
table.tablesorter thead tr .headerSortUp {
	background-image: url(../img/tablesorter/asc.png);
}
table.tablesorter tr .headerSortDown,
table.tablesorter thead tr .headerSortDown {
	background-image: url(../img/tablesorter/desc.png);
}
table.tablesorter tbody tr.highlight {
	background-color:#ffb;
}
table.tablesorter tbody tr.picked {
    background-color:#fda;
}
table#fixedtableheader0 {
    border-bottom: 1px solid #999; 
}
