table {
    border-collapse:collapse;
}
table.register_form {
    width:100%;
}
table tr td {
    border: 1px solid #c3c7c8; 
    text-align:left;
    vertical-align:middle; 
    padding: .2em .4em; 
}

table tr td.liketh {
    text-align:center;
    vertical-align:middle;
}
table caption, 
table tr th { 
    padding: 3px 5px; 
    border: 1px solid #c3c7c8; 
    color:#666;
    text-align:center;
    background:#EDEDE7;
    vertical-align:middle;
    font-weight:normal;
}
table tbody th { 
    text-align:left;
}

