/* The main calendar widget.  DIV containing a table. */

div.calendar { position: relative;z-index:200; }

.dt_picker_button span {
    background:#fff;
    font-weight:normal;
    color:#000;
    padding:3px 3px 1px 3px;
    cursor: pointer;
}

.dt_picker_button img {
    vertical-align:text-bottom;
}

.filters {
    margin-bottom:0.5em;
}
.filters fieldset {
    border:1px solid #CAD1C4;
    color:#666;
    padding:4px 25px;
    background:#FAFBFA;
    cursor:pointer;
}

.filters p {
    margin:1px 0 3px 0;
    padding:0;
}

.calendar, .calendar table {
  border: 1px solid #947930;
  font-size: 12px;
  color: #000;
  cursor: default;
  background: #fdfdfd;
  font-family: Verdana,sans-serif,Arial,Helvetica;
  margin:0;
}

/* Header part -- contains navigation buttons and day names. */

.calendar .button { /* "<<", "<", ">", ">>" buttons have this class */
  text-align: center;    /* They are the navigation buttons */
  padding: 3px 5px;          /* Make the buttons seem like they're pressing */
}

.calendar .nav {
  background: #fafafa;
}

.calendar thead .title { /* This holds the current "month, year" */
  font-weight: bold;      /* Pressing it will take you to the current date */
  text-align: center;
  background: #666;
  color: #FFF;
  padding: 3px 5px;
}

.calendar thead .headrow { /* Row <TR> containing navigation buttons */
  background: #fafafa;
  color: #666;
}

.calendan thead .namen{ /* Cells <TD> containing the day names */
  border-bottom: 1px solid #947930;
  padding: 3px 5px;
  text-align: center;
  color: #000;
}

.calendar thead .weekend { /* How a weekend day name shows in header */
  color: #a00;
}

.calendar thead .hilite { /* How do the buttons in header appear when hover */
  background-color: #fee;
  color: #000;
  border: 1px solid #a00;
  padding: 3px 4px 3px 6px;
}

.calendar thead .active { /* Active (pressed) buttons in header */
  background-color: #fdd;
  padding: 3px 4px 3px 6px;
}

.calendar thead .daynames { /* Row <TR> containing the day names */
  background: #ddd;
}

/* The body part -- contains all the days in month. */

.calendar tbody .day { /* Cells <TD> containing month days dates */
  width: 2em;
  text-align: right;
  padding: 2px 4px 2px 2px;
}
.calendar tbody .day.othermonth {
  font-size: 80%;
  color: #bbb;
}
.calendar tbody .day.othermonth.oweekend {
  color: #fbb;
}

.calendar table .wn {
  padding: 2px 3px 2px 2px;
  border-right: 1px solid #000;
  background: #f6f6f6;
}

.calendar tbody .rowhilite td {
  background: #ddf;
}

.calendar tbody .rowhilite td.wn {
  background: #F2F7F1;
}

.calendar tbody td.hilite { /* Hovered cells <TD> */
  background: #ffe;
  padding: 1px 3px 1px 1px;
  border: 1px solid #bbb;
}

.calendar tbody td.active { /* Active (pressed) cells <TD> */
  background: #ddc;
  padding: 2px 2px 0px 2px;
}

.calendar tbody td.selected { /* Cell showing today date */
  font-weight: bold;
  border: 1px solid #000;
  padding: 1px 3px 1px 1px;
  background: #666;
  color:#fff;
}

.calendar tbody td.weekend { /* Cells showing weekend days */
  color: #a00;
}

.calendar tbody td.today { font-weight: bold; }

.calendar tbody .disabled { color: #999; }

.calendar tbody .emptycell { /* Empty cells (the best is to hide them) */
  visibility: hidden;
}

.calendar tbody .emptyrow { /* Empty row (some months need less than 6 rows) */
  display: none;
}

/* The footer part -- status bar and "Close" button */

.calendar tfoot .footrow { /* The <TR> in footer (only one right now) */
  text-align: center;
  background: #988;
  color: #000;
}

.calendar tfoot .ttip { /* Tooltip (status bar) cell <TD> */
  border-top: 1px solid #947930;
  background: #F2F7F1;
  color: #000;
}

.calendar tfoot .hilite { /* Hover style for buttons in footer */
  background: #faa;
  border: 1px solid #f40;
  padding: 1px;
}

.calendar tfoot .active { /* Active (pressed) style for buttons in footer */
  background: #c77;
  padding: 2px 0px 0px 2px;
}

/* Combo boxes (menus that display months/years for direct selection) */

.calendar .combo {
  position: absolute;
  display: none;
  top: 0px;
  left: 0px;
  width: 4em;
  cursor: default;
  border: 1px solid #947930;
  background: #ffe;
  color: #000;
  font-size: 90%;
  z-index: 100;
}

.calendar .combo .label,
.calendar .combo .label-IEfix {
  text-align: center;
  padding: 1px;
}

.calendar .combo .label-IEfix {
  width: 4em;
}

.calendar .combo .hilite {
  background: #fc8;
}

.calendar .combo .active {
  border-top: 1px solid #a64;
  border-bottom: 1px solid #a64;
  background: #fee;
  font-weight: bold;
}

.calendar td.time {
  border-top: 1px solid #a88;
  padding: 1px 0px;
  text-align: center;
  background-color: #FFFAEA;
}

.calendar td.time .hour,
.calendar td.time .minute,
.calendar td.time .ampm {
  padding: 0px 3px 0px 4px;
  border: 1px solid #988;
  font-weight: bold;
  background-color: #fff;
}

.calendar td.time .ampm {
  text-align: center;
}

.calendar td.time .colon {
  padding: 0px 2px 0px 3px;
  font-weight: bold;
}

.calendar td.time span.hilite {
  border-color: #000;
  background-color: #866;
  color: #fff;
}

.calendar td.time span.active {
  border-color: #a00;
  background-color: #eee;
  color: #008040;
}
