<tr session_id="{{ session.id }}" book_id="{{ session.book.id }}" class="{% cycle '' 'odd' '' 'even' %}">
    <td class='center'>{{ session.id }}</td>
    <td class='center'>
        {% if session.is_editable  %}
        <input type="text" size='4' class="select_time"
            url="{% url x_update_start_time %}"
            sid="start_time" value="{{ session.start_as_time }}" />
        {% else %}
        {{ session.start_as_time }}
        {% endif %}
    </td>
    <td class='center'>
        {% if session.is_editable  %}
        <input type="text" size='4' class="select_time"
            url="{% url x_update_finish_time %}"
            sid="finish_time" value="{{ session.finish_as_time }}" />
        {% else %}
        {{ session.finish_as_time }}
        {% endif %}
    </td>
    <td class='center'>{{ session.begins_after|default_if_none:"&rarr;"|safe }}</td>
    <td class='center'>{{ session.available_after|default_if_none:"&larr;"|safe }}</td>
    <td>{{ session.book }}</td>
    <td> 
        {% if session.is_reader_editable  %}
        {% include "liveq/_readers.html" %}
        {% else %}
        {{ session.readers.all|join:", " }}
        {% endif %}
    </td>
    <td status_id="{{ session.status_id }}" class='nowrap'>
        <span class='status{{ session.status_id }}'>{{ session.status }}</span> 
        <span class='status{{ session.anti_status_id }} hidden'>{{ session.anti_status }}</span> 
        {% if session.is_editable  %}
        <input type='checkbox' name='status' id="status_{{ session.id }}"/> 
        <label for="status_{{ session.id }}">Изменить статус</label>
        {% endif %}
    </td>

</tr>
