    <table class='nozebra tablo'>
    <thead>
        <tr>
            <th>№</th>
            {% if mode == 'talk' %}
            <th>Окончание<br/>беседы</th>
            <th>Минут до<br/>окончания</th>
            {% else %}
            <th>Начало<br/>беседы</th>
                {% if mode == 'open' %}
            <th>Минут до<br/>начала</th>
                {% else %}
            {#<th>Минут после<br/>окончания</th>#}
                {% endif %}
            {% endif %}
            <th class='left'>Название книги</th>
            <th class='left'>Читатели</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
    {% for session in sessions %}
<tr class="{% cycle '' 'odd' '' 'even' %} {{ session.book.slug }}">
    <td>{{ session.id }}</td>
            {% if mode == 'talk' %}
    <td class='center'>{{ session.ends|time:"H:i" }}</td>
    <td class='center'>{{ session.available_after|default_if_none:"&larr;"|safe }}</td>
            {% else %}
    <td class='center'>{{ session.start|time:"H:i" }}</td>
                {% if mode == 'open' %}
    <td class='center'>{{ session.begins_after|default_if_none:"&rarr;"|safe }}</td>
                {% else %}
    {#<td class='center'>{{ session.since_end|default_if_none:"&rarr;"|safe }}</td>#}
                {% endif %}
            {% endif %}
    <td>{{ session.book }}</td>
    <td>{{ session.readers.all|join:", " }}</td>
    <td class='center'>{% if session.status_id != STATUS_OPEN %}{{ session.status }}{% endif %}</td>
</tr>
    {% endfor %}
    </tbody>
</table>
