<table class='zebra register_form'>
    <thead>
        <tr>
            <th>ID</th>
            <th>Начало<br/>беседы</th>
            <th>Окончание<br/>беседы</th>
            <th>Минут до<br/>начала</th>
            <th>Минут до<br/>окончания</th>
            <th class='left'>Название книги</th>
            <th class='left'>Редактирование читателей</th>
            <th>Закрыть для записи?</th>

        </tr>
    </thead>
    <tbody>
    {% for session in sessions %}
            {% include "liveq/_session_tag.html" %}
    {% endfor %}
    </tbody>
</table>
