{% extends 'base.html' %}
{% block title %}Запись посетителей{% endblock %}
{% block content_title %}Запись посетителей{% endblock %}
{% block content %}
{{ form.errors }}
<form action='' method='post' id='new_session'>{% csrf_token %}
    <div class='new_reader_form go_right'>
    <h3>Регистрация новеньких</h3>
    <p>
        {{ reader_form }}
        <input type='submit' value='Запомнить имя' /><br/>
        {# (уже существующее имя обновится)#}
        <span class='errors hidden'></span>
        <span class='result hidden'></span>
        <br/><small>Здесь же можно отредактировать имя какого-то номера</small>
    </p>
    </div>
    <p>{{ form }} <small class='indicator'></small></p>
    <p>Вводим только номера читателей. <br/>
    Если сеанс почти начался, а читателей нет, то начало сеанса сдвинется на 20 мин в будущее.</p>

<div class='livequeue'>
    {% include "liveq/_table_form.html" %}
</div>
</form>
            
{% endblock content %}
