{% load active %}

<li><a href="{% url index %}">Запись на книги</a></li>
<li> | <a href="{% url talk_sessions %}">Идёт разговор</a></li>
{#<li> | <a href="{% url finished_sessions %}">Завершенные беседы</a></li>#}
    {% if user.is_authenticated %}
<li class="{% active request '^/add' %}"> | <a href="{% url add %}">Регистратору</a></li>
    {% endif %}
