{% load compressed datetime_tags %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" >
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <title>{% block title %}{{ content_title|default:"Главная страница" }}{% endblock %} &mdash; Живая библиотека</title>
<link rel="icon" href="{{ IMG_MEDIA_URL }}favicon.png" type="image/x-icon" />
  {% compressed_css 'common_css' %}
  {% compressed_css 'base_css' %}
  {% block extra_head_after_css %}{% endblock %}
  <script type="text/javascript" charset="utf-8">
      var STATUS_OPEN     = {{ STATUS_OPEN     }},
          STATUS_CLOSED   = {{ STATUS_CLOSED   }},
          STATUS_TALK     = {{ STATUS_TALK     }},
          STATUS_FINISHED = {{ STATUS_FINISHED }},
          {% if refresh_url %}
          REFRESH_URL = "{{ refresh_url }}",
          {% endif %}
          {% if timeout_interval %}
          TIMEOUT_INTERVAL = parseInt({{ timeout_interval|default:0 }}),
          {% endif %}
          LOADING_HTML = "<img src='{{ MEDIA_URL}}img/loading.gif' alt='Идет обновление'/>";
  </script>
  {% block extra_head_before_js %}
  {% endblock %}
  {% compressed_js 'base_js' %}
  {% block extra_head_after_js %}{% endblock %}
</head>
<body>
<div id="container">
    <div id="top-menu">
        <div id="account">
            <ul>
                {% if user.is_active %}
                {% if user.is_staff %}
                <li> | <a href="{% url admin:index %}">Администрирование</a>
                </li>
                {% endif %}{# is_staff end #}
                <li> | <a href="{% url logout %}">Выход</a></li>
                {% else %}
                <li> | <a href="{% url login %}">Войти</a></li>
                {% endif %}{#is active end #}
            </ul>
        </div>
        <div id="loggedas">
            {% if user.is_active %}
            <b>{% firstof user.get_full_name user.username %}</b>
            {% endif %}
        </div>
        <ul>
            {% include "_navigation.html" %}
            {% if reader_form and user.is_superuser %}
            <li> | <a id='check_statuses' title='Обновить статусы сеансов'>Обновить статусы</a></li>
            {% endif %}
        </ul>
    </div>
    <!-- Header -->
    <div id="header">
        <h1 class='content_title'>
            {% block content_title %}{{ content_title|default:"" }}{% endblock %}
            {% if reader_form %}
            <span class='request_progress '></span>
            {% else %}
            <span class='indicator'></span>
            {% endif %}
        </h1>
        <div class='clear'></div>
    </div>
    <!-- END Header -->
    <div id='main-menu'>      
    </div>
    <!-- END main-menu  -->
<div id="wrapper">
<div id="content">

{% block message %}
{% if messages %}
{% for message in messages %}
<p class="{{ message.tags }}">{{ message }} {% now "d.m.Y H:i:s" %}</p>
{% endfor %}
{% endif %}
{% endblock message %}

{% block content %}
{% block main %}
<h1>Главная страница</h1>
{% endblock main %}
{% endblock content %}
</div>
</div>
<div id="navigation">
    {% block right_side %}{% endblock %}
</div>
<div id="extra">
  {% block left_side %}{% endblock %}
</div>
<div id="footer">
    {% block footer %}
    {% endblock footer %}
</div>
</div>
</body></html>
